form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 80%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  border-radius: 6px;
  height: 30px;
  border: 1px solid #ccc;
  padding-left: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.quantity {
  margin-left: 10px;
}

.addbtn {
  height: 40px;
  width: 100%;
  border-radius: 8px;
  background-color: #d1ff8a;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  form {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  label {
    margin-right: 10px;
    margin-bottom: 0;
  }

  input {
    width: calc(50% - 10px);
    margin-bottom: 0;
  }

  .addbtn {
    width: auto;
    padding: 0 20px;
    margin-top: 0;
  }
}
